version: '3.8'
services:
  auth:
    build: .
    #env_file:
    #  - .env
    ports:
      - "8082:8082"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - PORT=${PORT:-8082}
      - JWT_SECRET=${JWT_SECRET:-mi-super-secreto-jwt-para-desarrollo-123456789}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID:-tu-google-client-id-aqui}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET:-tu-google-client-secret-aqui}
      - GOOGLE_REDIRECT_URL=${GOOGLE_REDIRECT_URL:-http://localhost:8082/api/v1/auth/google/callback}
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=authuser
      - DB_PASSWORD=authpass
      - DB_NAME=authdb
      - DB_SSL_MODE=disable

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U authuser -d authdb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: